<div class="uk-container uk-container-large">
    <div class="container">
        <h1>Hi, my name is</h1>
        <h2>Michael Timpson.</h2>
        <h3 class="pageTitle">
            I'm a <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
        </h3>
        <p>
            <markdown ngPreserveWhitespaces>
                Passionate about building & creating modern applications. Currently, I'm focused
                on leading a development team & creating valuable projects at <a
                    href="https://www.masslight.com/">Masslight.</a>
            </markdown>
        </p>
        <img src="assets/photos/riverwithdog.JPG" alt="Photo of me and my dog by the Potomac river." />
        <hr>
    </div>
</div>