<div class="uk-container uk-container-large">
    <div class="container">
        <h1 class="pageTitle">About Page</h1>
        <hr>
        <img src="/assets/dronejeep.jpg"
            alt="Drone photo of three jeeps (red, white, & blue) taken on Rt 12, North Carolina in the Outer Banks." />
        <h1 class="pageTitle">Hello, my name is Michael Timpson.</h1>
        <p>
            <markdown ngPreserveWhitespaces>
                I am 25 years old software engineer living in Falls Church, Virginia. I graduated from the University of
                Mary
                Washington in May of 2018 with my bachelor's degree in computer science and have been working as a full
                time
                software developer ever since. In addition to being a developer, I am passionate about technology, the
                outdoors, and family. Some of my hobbies include things such as snowboarding, kayak fishing, jeeps,
                motorcycles and coffee. I look forward to continuing to contribute to the field of software engineering
                as
                well as my other passions.
            </markdown>
        </p>
        <hr>
        <img src="/assets/riverwithdog.JPG" alt="Photo of me and my dog by the Potomac river." />
        <hr>
    </div>
</div>