.pageTitle {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h3 {
    color: #004225;
    font: bolder;
    font-size: clamp(18px, 8vw, 18px);
}

img:hover {
    opacity: 50%;
    cursor: pointer;
}

p {
    padding-bottom: 3%;
}