<div class="uk-container uk-container-large">
    <div class="container">
        <div class="barbaraArt">
            <h1 class="pageTitle">Projects</h1>
            <hr>
            <a href="https://www.barbaradonnellan.com">
                <img src="assets/photos/barbara_logo.png" alt="Redlure project photo.">
            </a>
            <a href="https://www.barbaradonnellan.com">
                <h2>Barbara Donnellan Portfolio & Online Art Gallery</h2>
            </a>
            <h3>Web Development</h3>
            <h4>Project Description:</h4>
            <p>My client Barbara Donnellan is a prominent business leader, author and consultant as well as an excellent
                artist. Her vision was to have an online portfolio where she could highlight some of her personal and
                profesional achievments as well as display some of her passion projects such as the book she wrote
                (Nema's Magic) and the art work she creates.
            </p>
        </div>
        <hr>
        <div class="redlure">
            <a href="https://github.com/redlure">
                <img src="assets/photos/redlure.png" alt="Redlure project photo.">
            </a>
            <a href="https://github.com/redlure">
                <h2>RedLure</h2>
            </a>
            <h3>Front End Development/Consultant</h3>
            <h4>Project Description:</h4>
            <p>Redlure is an open-source phishing platform designed to be a feature-rich solution for
                red teamers and penetration testers. The application uses a distributed model that grants one interface
                access to multiple campaigns running on different servers and domains simultaneously. It provides a
                robust
                campaign creation platform with custom email templates, linked landing pages and payload integration to
                emulate real-world scenarios.
            </p>
        </div>
        <hr>
        <div class="skyborn">
            <a href="https://github.com/Mtimpson/SkyBorn">
                <img src="assets/photos/skyborn.png" alt="Skyborn project photo.">
            </a>
            <a href="https://github.com/Mtimpson/SkyBorn">
                <h2>Skyborn</h2>
            </a>
            <h3>iOS App Development</h3>
            <h4>Project Description:</h4>
            <p>The enemy fighters are coming... Run to your chopper and go SkyBorn! Navigate through the waves of
                enemies and avoid their missiles as you shoot down as many as you can. With simple touch-based controls
                yet challenging gameplay, SkyBorn is easy to learn and hard to put down! Try to beat your high score and
                download today!
            </p>
        </div>
        <hr>
    </div>
</div>