<div class="uk-container uk-container-large">
    <div class="container">
        <div class="redlure">
            <h1 class="pageTitle">Projects</h1>
            <hr>
            <a href="https://github.com/redlure">
                <img src="assets/photos/redlure.png" alt="Redlure project photo.">
            </a>
            <h2>RedLure</h2>
            <h3>Front End Development/Consultant</h3>
            <h4>Project Description:</h4>
            <p>Redlure is an open-source phishing platform designed to be a feature-rich solution for
                red teamers and penetration testers. The application uses a distributed model that grants one interface
                access to multiple campaigns running on different servers and domains simultaneously. It provides a
                robust
                campaign creation platform with custom email templates, linked landing pages and payload integration to
                emulate real-world scenarios.
            </p>
        </div>
        <hr>
        <div class="skyborn">
            <a href="https://github.com/Mtimpson/SkyBorn">
                <img src="assets/photos/skyborn.png" alt="Skyborn project photo.">
            </a>
            <h2>Skyborn</h2>
            <h3>iOS App Development</h3>
            <h4>Project Description:</h4>
            <p>The enemy fighters are coming... Run to your chopper and go SkyBorn! Navigate through the waves of
                enemies and avoid their missiles as you shoot down as many as you can. With simple touch-based controls
                yet challenging gameplay, SkyBorn is easy to learn and hard to put down! Try to beat your high score and
                download today!
            </p>
        </div>
        <hr>
    </div>
</div>