<div class="uk-container uk-container-large">
    <hr>
    <div *ngIf="getArticleData().article">
        <img src="{{ getArticleData().article.image.url }}" alt="" height="100" />
    </div>
    <hr>

    <div *ngIf="getArticleData().article">
        <h1 class="pageTitle">{{ getArticleData().article.title }}</h1>
        <small class="articleDetails">Michael Timpson | {{ getArticleData().article.published_at }} | {{ getArticleData().article.category.name }}</small>
    </div>

    <div class="container" *ngIf="getArticleData().article">
        <p>
            <markdown ngPreserveWhitespaces>
                {{ getArticleData().article.content }}
            </markdown>
        </p>
        <p></p>
    </div>
</div>