<div class="uk-container uk-container-large">
    <div class="container">
        <div class="uk-child-width-1-1@m uk-grid" uk-grid>
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/tupper_lake.jpg" alt="Tupper Lake, Adirondacks NY via drone." height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>
            
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/corolla_nc_sunset.jpg" alt="Corolla NC sunset via drone." height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/carova_nc_beach_road.jpg" alt="Outer Banks NC via drone." height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/corolla_nc_sunrise.jpg" alt="Corolla NC Sunrise via drone." height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/carova_nc_beach_jeep.jpg" alt="Carova NC Beach Camp via drone."
                        height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>


            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/adirondack_camp.jpg" alt="Adirondack Camp via drone." height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/drone/dronejeep.jpg" alt="Red, White, & Blue jeeps on the beach via drone."
                        height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>
        </div>
    </div>
</div>